*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: #333;
}

h1 {
    color: wheat ;
    border-bottom: 2px solid #007acc;
    padding-bottom: 10px;
}

.nav ul {
list-style: none;
display: flex;
gap: 20px;
}